body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  #myDiv {
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  #myDiv.dark-mode {
    background-color: black;
    color: white;
  }
  
  input:invalid {
    border-color: red;
    background-color: white;
  }

  h2 {
    color: darkorchid;
    }
